@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

label {
    font-family: 'Roboto', sans-serif;
    margin: 50px;
    font-size: 15px;
    font-style: bold;
}

.login-logout form {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.login button {
    margin: 20px;
    background-color: #FF2E63;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 50px;
    line-height: 20px;
    list-style: none;
    outline: none;
    padding: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 80px;
}

.login input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.password input[type=password],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
