.header {
    text-align: center;
    padding-top: 50px;
    /* border: solid green; */
}
.biz-preview {
    margin: auto;

    display: grid;
    width: 1000px;

    grid-template-columns: repeat(3, 3fr);
}

.biz-container {
    /* border: solid purple; */
    display: grid;

    margin: 5px;
    width: 290px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    height: 25em;
}
.header-card {
    border-bottom: 3px solid #bbb;
    height: 3em;
}

.image-container img {
    overflow: hidden;
    height: 12.3em;
    width: 100%;
    display: block;
    border-bottom: 3px solid #bbb;
}
.image-container {
    border-bottom: 3px solid #bbb;
    /* border: solid green; */

    height: 12.5em;
}
.biz-content {
    margin: 0.5rem;
    margin-top: 0.3rem;

    padding: 5px;
    height: 15em;
    width: 95%;
}

.reviews {
    display: flex;
    gap: 10px;
    padding-top: 5px;
}

.biz-img {
    border-radius: 30px;
    height: 35vh;
    object-fit: cover;
    transition-duration: 0.2s;
    width: 21vw;
}

.image-container img {
    overflow: hidden;
    height: 200px;
}

.biz-name {
    margin-bottom: 0.5rem;
}

.biz-review-info {
    border-top: 3px solid #bbb;
    padding-top: 5px;
    text-align: center;
    /* border: purple; */
}
.actual-review {
    box-sizing: content-box;
    width: 100%;
    height: 3.5em;
    overflow: scroll;
}

.first-review {
    padding-top: 20px;
    padding-left: 5px;
    padding: 5 px;
    /* border: solid blue; */
}

.no-review-container {
    /* height: 10cm; */
    overflow: hidden;
    /* border: solid red; */
}

.biz-name-no-review {
    margin-bottom: 0.5rem;
    padding-top: 10px;
    padding-left: 5px;
    border-bottom: 3px solid #bbb;
    /* border: solid green; */
}

.image-container-no-review img {
    overflow: hidden;
    height: 270px;
    border-bottom: 3px solid #bbb;
    /* border: yellow; */
}

/* .image-review img {
    overflow: hidden;
    margin-top: 5px;
    height: 4.3em;
    width: 100%;
    display: block;
    border-bottom: 3px solid #bbb;
} */
