.biz-detail-container {
    display: flex;
    justify-content: center;
}

/* h1 {
    display: flex;
    justify-content: center;
} */

.biz-detail {
    display: flex;
    justify-content: center;
    background-repeat: repeat-x;
}

button {
    justify-content: center;
    display: flex;
}

.biz-img {
    background-repeat: repeat-x;
}

.biz-detail-btns {
    justify-content: end;
    display: flex;
}
