.make-new-review {
    background-color: tomato;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    width: 60%;
    height: 60%;
}

.review-element {
    margin: 20px;
    text-align: center;
}

.review-element>h3 {
    color: violet;
}
